# BDAT_1004_PROBLEMSET_2

## Question 1

<b>Consider the following Python module:</b>
<b> a = 0</b><br><br><br><b>def b():</b><br><br>    <b>global a</b><br><br>    <b>a = c(a)</b><br><br><br><b>def c(a):</b><br><br>    <b>return a + 2</b>
<b>After importing the module into the interpreter, you execute:</b>
<b>>>> b()</b><br><br><b>>>> b()</b><br><br><b>>>> b()</b><br><br><b>>>> a</b><br><b>?</b><br><br>
<b>What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.</b>

In [2]:
a =0                                            # Set the variable 'a' to 0 upon initialization.

def b():                        
    global a                                    # To indicate that we wish to change the variable "a," use the word "global."
    a = c(a)                                    # Give the current value of 'a' to the function 'c(a)' and assign the result back to 'a'. 
    
def c(a):                        
    return a + 2                                # Return the result after adding the value of "a" by 2 

b()                                             # Call the function 'b()' for the first time
b()                                             # Call the function 'b()' for the second time
b()                                             # Call the function 'b()' for the third time 
print("Value of a : ",a)                        # Display the value of the global variable 'a'

Value of a :  6

####  To comprehend the programme, go through each statement that was executed::
<ol>
    <li>b(): The initial call to the method b() is made. Global an is used inside the function to indicate that we want to change the existing global variable a rather than defining a brand-new local variable. The current value of a (which is 0) is used to call the function c(a). 2 is added to the value of an inside of c(a), and the new value is then returned. Considering that an is a global variable, its updated value is now 2.</li>
    <li>b(): A second call to the method b() is made. Once more, the global variable an is changed using global a. The current value of a (which is 2) is used to call the function c(a). The new value is returned as 4 after the value of a (2) is increased by 2 inside of c(a). Updated to 4, the global variable an is now.</li>
    <li>b(): The third call to the method b() is made. The global variable an is altered using global a. The current value of a, which is 4, is used to call the function c(a). Inside of c(a), the value of a (4) is increased by 2 to produce 6, which is then returned as the new value. A global variable is changed to 6 and stored.</li>
    <li>a: After three calls to b(), the value of the global variable a, which is now 6, is shown.</li>
</ol>

#### As a result, when aÂ is evaluated, the value shown is 6.<br><br>

## Question 2

<b>Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:</b><br>
<b>>>> fileLength('midterm.py')</b><br><b>284</b><br><b>>>> fileLength('idterm.py')</b><br><b>Traceback (most recent call last):</b><br><b>File "<pyshell#34>", line 1, in <"module"></b><br><b>fileLength('idterm.py')</b><br><b>File "/Users/me/midterm.py", line 3, in fileLength</b><br><b>infile = open(filename)</b><br><b>FileNotFoundError: [Errno 2] No such file or directory:</b><br><b>'idterm.py'</b><br><br>
<b>As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:</b><br>
<b>>>> fileLength('midterm.py')</b><br><b>358</b><br><b>>>> fileLength('idterm.py')</b><br><b>File idterm.py not found.</b>

In [2]:
def fileLength(filename):
    try:
        file = open(filename)                                 # Try to open the file
        contents = file.read()                                 # Read the contents of the file
        file.close()                                           # Close the file
        print(len(contents))                                   # Print the length of the contents
    except :
        print("File "+filename+" not found.")                 # Print a friendly message if the file is not found
    

fileLength('midterm.py')                                      # Existing file
fileLength('idterm.py')                                       # Non-existing file

634
File idterm.py not found.

## Question 3

<b>Write a class named Marsupial that can be used as shown below:</b><br><br>
<b>>>> m = Marsupial()</b><br><br><b>>>> m.put_in_pouch('doll')</b><br><br><b>>>> m.put_in_pouch('firetruck')</b><br><br><b>>>> m.put_in_pouch('kitten')</b><br><br><b>>>> m.pouch_contents()</b><br><br><b>['doll', 'firetruck', 'kitten']</b><br><br>
<b>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:</b><br><b>a. extends the Marsupial "__init__" constructor to take, as input, the coordinates x and y of the Kangaroo object,</b><br><b>b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and</b><br><b>c. overloads the "__str__" operator so it behaves as shown below.</b><br><br>
<b>>>> k = Kangaroo(0,0)</b><br><b>>>> print(k)</b><br><b>I am a Kangaroo located at coordinates (0,0)</b><br><b>>>> k.put_in_pouch('doll')</b><br><b>>>> k.put_in_pouch('firetruck')</b><br><b>>>> k.put_in_pouch('kitten')</b><br><b>>>> k.pouch_contents()</b><br><b>['doll', 'firetruck', 'kitten']</b><br><b>>>> k.jump(1,0)</b><br><b>>>> k.jump(1,0)</b><br><b>>>> k.jump(1,0)</b><br><b>>>> print(k)</b><br><b>I am a Kangaroo located at coordinates (3,0)</b>

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = []                           # Initialize an empty list to store pouch contents
    
    def put_in_pouch(self, item):
        self.pouch.append(item)                   # Add an item to the pouch
    
    def pouch_contents(self):
        return self.pouch                         # Return the contents of the pouch


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [2]:
class Marsupial:
    def __init__(self):
        self.pouch = []                           # Initialize an empty list to store pouch contents
    
    def put_in_pouch(self, item):
        self.pouch.append(item)                   # Add an item to the pouch
    
    def pouch_contents(self):
        return self.pouch                         # Return the contents of the pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()                        # Call the superclass Marsupial's constructor
        self.x = x                                # Initialize the x-coordinate of the Kangaroo
        self.y = y                                # Initialize the y-coordinate of the Kangaroo
    
    def jump(self, dx, dy):
        self.x += dx                              # Move the Kangaroo along the x-axis by dx units
        self.y += dy                              # Move the Kangaroo along the y-axis by dy units
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"




k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

<b>Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:</b><br><br>
<b>x =</b> 
> ð¥/2    ðð ð¥ ðð  ðð£ðð<br>3ð¥ + 1   ðð ð¥ ðð  ððð

<b>Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.</b>
<b>>>> collatz(1)</b><br><b>1</b><br><b>>>> collatz(10)</b><br><b>10</b><br><b>5</b><br><b>16</b><br><b>8</b><br><b>4</b><br><b>2</b><br><b>1</b>

In [3]:
def collatz(x):
    print(x)                                     # Print the current number in the sequence
    
    # Base case: Stop when the number reaches 1
    if x == 1:
        return
    
    # Recursive case: Calculate the next number in the sequence based on the Collatz rule
    if x % 2 == 0:
        collatz(x // 2)                         # If x is even, divide it by 2
    else:
        collatz(3 * x + 1)                      # If x is odd, multiply it by 3 and add 1



collatz(1)

1

In [4]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

<b>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</b><br><br>
<b>>>> binary(0)</b><br><b>0</b><br><b>>>> binary(1)</b><br><b>1</b><br><b>>>> binary(3)</b><br><b>11</b><br><b>>> binary(9)</b><br><b>100</b>

In [3]:
def binary(x):
    if x == 0:
        return 0     #if input is 0, output will be 0
    else:
        binary(x//2)    #print binary values
    print(x % 2,end = '')

binary(0)

0

In [4]:
binary(1)

1

In [5]:
binary(3)

11

In [6]:
binary(9)

1001

## Question 6

<b>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.</b><br><br>
<b>>>> infile = open('w3c.html')</b><br><b>>>> content = infile.read()</b><br><b>>>> infile.close()</b><br><b>>>> hp = HeadingParser()</b><br><b>>>> hp.feed(content)</b><br><b>W3C Mission</b><br><b>Principle</b>

In [21]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.in_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1
            self.in_heading = True

    def handle_endtag(self, tag):
        if tag.startswith("h"):
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            indentation_spaces = " " * self.indentation
            print(f"{indentation_spaces}{data.strip()}")



infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7

<b>Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.</b><br><br>
<b>>>></b><br><b>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)</b><br><br><b>http://reed.cs.depaul.edu/lperkovic/csc242/test1.html</b><br><b>http://reed.cs.depaul.edu/lperkovic/csc242/test2.html</b><br><b>http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</b><br><b>http://reed.cs.depaul.edu/lperkovic/csc242/test3.html</b><br><b>http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</b>

In [27]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)

    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth - 1, indent + 1)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

## Question 8

<b>Write SQL queries on the below database table that return:</b><br><br><b>a) All the temperature data.</b><br><br><b>b) All the cities, but without repetition.</b><br><br><b>c) All the records for India.</b><br><br><b>d) All the Fall records.</b><br><br><b>e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</b><br><br><b>f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</b><br><br><b>g) The total annual rainfall for Cairo.</b><br><br><b>h) The total rainfall for each season.</b>

|  CITY    | COUNTRY          | SEASON   | TEMPERATURE (C)   | RAINFALL (mm)   |
| :------: | :--------------: | :------: | :---------------: | :-------------: |
| Mumbai   | India            | Winter   |    24.8           |  5.9            |
| Mumbai   | India            | Spring   |    28.4           |  16.2           |
| Mumbai   | India            | Summer   |    27.9           |  1549.4         |
| Mumbai   | India            | Fall     |    27.6           |  346.0          |
| London   | United Kingdom   | Winter   |    4.2            |  207.7          |
| London   | United Kingdom   | Spring   |    8.3            |  169.6          |
| London   | United Kingdom   | Summer   |    15.7           |  157.0          |
| London   | United Kingdom   | Fall     |    10.4           |  218.5          |
| Cairo    | Egypt            | Winter   |    13.6           |  16.5           |
| Cairo    | Egypt            | Spring   |    20.7           |  6.5            |
| Cairo    | Egypt            | Summer   |    27.7           |  0.1            |
| Cairo    | Egypt            | Fall     |    22.2           |  4.5            |

In [10]:
import sqlite3
connnection = sqlite3.connect('Sample.db')    #Sample Datababase Connection
cur = connnection.cursor()
cur.execute("CREATE TABLE climate (City text, Country text, Season text,Temperature float,Rainfall float)")

In [11]:
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO climate VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

### Running select query to print all table rows

In [12]:
cur.execute('SELECT * FROM climate')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### 8a

In [13]:
cur.execute('SELECT Temperature FROM climate')
content=cur.fetchall()
for cells in content:
    print(cells)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### 8b

In [14]:
cur.execute('SELECT DISTINCT City FROM climate')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai',)
('London',)
('Cairo',)

### 8c

In [15]:
cur.execute('SELECT * FROM climate WHERE Country="India"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### 8d

In [16]:
cur.execute('SELECT * FROM climate WHERE Season="Fall"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### 8e

In [17]:
cur.execute('SELECT City, Country, Season FROM climate WHERE Rainfall BETWEEN 200 AND 400 ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### 8f

In [18]:
cur.execute('SELECT City, Country FROM climate WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature ASC ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Cairo', 'Egypt')
('Mumbai', 'India')

### 8g

In [19]:
cur.execute('SELECT SUM(Rainfall) FROM climate WHERE City = "Cairo"')
content=cur.fetchall()
for cells in content:
    print(cells)

(27.6,)

### 8h

In [20]:
cur.execute('SELECT SUM(Rainfall) FROM climate GROUP BY Season')
content=cur.fetchall()
for cells in content:
    print(cells)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

## Question 9

<b>Suppose list words is defined as follows:</b><br><br>
<b>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']</b><br><br>
<b>Write list comprehension expressions that use list words and generate the following lists:</b><br><br>
<b>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']</b><br><br><b>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']</b><br><br><b>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).</b><br><br><b>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)</b><br><br><b>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)</b>

In [22]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [23]:
uppercase = [word.upper() for word in words]
print("a) ",uppercase)

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [24]:
lowercase = [word.lower() for word in words]
print("b) ",lowercase)

b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [25]:
lengths = [len(word) for word in words]
print("c) ",lengths)

c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [26]:
info = [[word.upper(), word.lower(), len(word)] for word in words]
print("d) ",info)

d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [27]:
long = [word for word in words if len(word) >= 4]
print("e) ",long)

e)  ['quick', 'brown', 'jumps', 'over', 'lazy']